


.form {
    background: rgba(255,255,255,0.5);
    width: 360px;
    padding: 1.5% 3% 1.5% 3%;
    margin: auto;
    margin-top: 2%;
    min-height:60%;
}


    .reg-head {
        text-align: center;
        color: white;
        background-color: darkgreen;
        margin:auto;
        width:360px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .input-text {
       
        padding: 10px;
        margin: 1% 3% 3% 0;
        border: none;
        width: 100%;
    }

    .reg-fields {
        color: green;
    }

    .reg-btn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
       // margin-left: 20%;
        width:27%;
        //margin-top: 20%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .reg-btn:hover {
        background-color: #45a049;
    }

    .headcolor {
        background-color: green;
        text-align: center;
        padding: 10px 10px 10px 10px;
        color: white;
    }
@media screen and (max-width: 600px) {
    .headcolor {
        background-color: green;
        text-align: center;
        color: white;
    }
    }
.footcolor {
    background-color: green;
    text-align: center;
    padding: 10px 10px 10px 0;
    color: white;
}
@media screen and (max-width: 600px) {
    .footcolor {
        background-color: green;
        text-align: center;
        color: white;
    }
}
@media screen and (max-width: 600px) {
    .reg-btn {
       width:100%;
    }
    .footcolor {
        padding: 5px 10px 10px 5px;
    }
}
.bg-image {
   // padding-bottom: 110px;
    background-attachment:fixed;
    height:100vh;
    background-size:cover;
    padding-top: 20px;
    background-image: url('../../images/naturaldrawing.jpg');
    background-repeat: no-repeat, repeat;
    /*--background-image: url('../../src/pages/images/naturaldrawing.jpg');*/
}

    .drop {
        color: white;
        float: right;
       // margin-top: 2%;
    }

    .arrow {
        float: left;
        margin-top: 1%;
    }

    .logo {
        //margin-left: 10%;
    }

    .search {
        margin-left: 75%;
        margin-bottom: 0.5%;
    }

    @media screen and (max-width: 600px) {
        .drop {
            color: white;
            float: right;
            //margin-top: 2%;
        }
    }

    @media screen and (max-width: 600px) {
        .arrow {
            float: left;
            margin-top: 2%;
        }
    }

    @media screen and (max-width: 600px) {
        .logo {
            margin-left: 1%;
        }
    }

    @media screen and (max-width: 600px) {
        .search {
            margin-left: 35%;
            margin-bottom: 1.5%;
        }
    }

.ok-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;  
    width: 27%;   
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ok-btn:hover {
    background-color: #45a049;
}

.cancel-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;   
    width: 27%;   
    border: none;
    margin-top: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .cancel-btn {
        width: 100%;
    }
    .ok-btn {
        width: 100%;
    }
    .footcolor {
        padding: 5px 10px 10px 5px;
    }
}